<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GPSPositions</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PositionsUpload</display-name>
    <servlet-name>PositionsUpload</servlet-name>
    <servlet-class>fr.insa.iso.gps.gps_positions.PositionsUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionsUpload</servlet-name>
    <url-pattern>/pupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PositionsList</display-name>
    <servlet-name>PositionsList</servlet-name>
    <servlet-class>fr.insa.iso.gps.gps_positions.PositionsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionsList</servlet-name>
    <url-pattern>/plist</url-pattern>
  </servlet-mapping>
</web-app>